<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="KVPOdelo" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.10.10;User Id=martinp;Password=m123.;Initial Catalog=KVPOdeloTest;Integrated Security=False;MultipleActiveResultSets=True"/>
    <add name="KodeksOdelo" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.10.10;User Id=martinp;Password=m123.;Initial Catalog=Kodeks;Integrated Security=False;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="MESSAGE" value="Templates\Message.html" />
    <add key="CREDENTIALS_KVP_MESSAGE" value="Templates\UserCredentialMessage.html" />
    <add key="EmailFrom" value="bovianplus@gmail.com"/>
    <add key="EmailFromForDB" value="bovianplus@gmail.com"/>
    <add key="ServerTag" value="http://kvp.bovianplus.si"/>
    <!--<add key="ServerTag" value="http://localhost:9861"/>-->

    <add key="MergeKodeksKVP" value="0"/>
     <add key="ScheduleMode" value="Dnevno"/>
   <!--<add key="ScheduleMode" value="Interval"/>-->
    <add key="IntervalMin" value="1"/>
    <add key="ScheduledTime" value="08:39"/>
  </appSettings>
</configuration>