<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="KVPOdelo" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.10.10;User Id=martinp;Password=m123.;Initial Catalog=KVPOdeloTest;Integrated Security=False;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="SmtpHost" value="10.33.33.89"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpEnableSsl" value="true"/>
    <add key="Username" value="bovianplus@gmail.com"/>
    <add key="Password" value="Geslo123."/>
    <add key="SmtpTimeout" value="20000"/>
    <add key="EmailTitle" value="Odelo KVP"/>

    <add key="ScheduleMode" value="Interval"/>
    <add key="IntervalMin" value="1"/>
    <add key="ScheduledTime" value="13:53"/>
    <add key="HasCredentialsOTP" value="false"/>
    <add key="SenderKVP" value="andrej@3a-projekt.si"/>
    
  </appSettings>
</configuration>